body {
    background-color: rgba(174, 148, 158, 0.456);
    text-align: center;
    color: rgb(66, 45, 53);
}

img {https://www.spoton.com/blog/content/images/size/w1200/2024/07/1.-what-is-boba-bubble-tea-boba-tea-milk-tea.jpeg
border: radius 50px;}
img {https://thumb.ac-illust.com/04/042b2f01561a39ff019261218919ad96_t.jpeg}